/* Experiencia Académica*/

section.academic {
  display: none;
}

/* experiencia*/

section.experience {
  display: none;
}

/*Contacto*/

section.formcontato {
  display: none;
}

/*footeer*/

section.footer {
  display: none;
}